table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}
td{ 
    text-align: left;   
}

th{
    background-color: aqua;
}

#tambien {
    background-color: aqua;
}

h1{
    padding: auto;
    text-align: left;
}

#tabla2 {
    width: auto;
}
